<div class="comment-card">
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-md-12">
          <div class="comment-user"><%= comment.user.username %></div>
          <%= comment.content %>
        </div>
      </div>
    </div>
  </div>
</div>
