<div class="jumbotron left">
	<h1>The world's <u>first</u> cloud storage search engine.</h1>
	&nbsp;
	<p>
	<h3>Meet Treasurably, it's a place to share, or search cloud storage files. Instantly search across all cloud storage services like Google Docs, Trello, and Dropbox.</h3> 
	</p>

	<p>
	<h3>Share a folder, find incredible files, connect with people or brands you admire - and much more. It's a new way for the world to gain knowledge.</h3> 
	</p>

	<h3>Oh yeah, did we mention it's free?</h3>
	</p>
	&nbsp;
		<p>
			<%= link_to "Find Out MORE Info", about_path, class: "btn btn-default" %>
		</p>
</div>
<div>
</div>
 