<div class="jumbotron left">
	<h1>A place to share and discover cloud storage files.</h1>
	<p>
	<h3>There are over 1 billion+ people who use Dropbox, Google Drive, Google Sheets, Google Docs, Microsoft OneNote, Box, and Trello - yet, how we use cloud storage still remains primitive. How we use cloud storage today, is a lot different from yesterday.</h3>
	</p>
	<p>
	<h3>Before, people used cloud storage as a place to store their cloud storage files personally - and, as a way to access them anywhere, on any device - without the fear of losing their information.</h3>
	</p>
	<p>
	<h3>How we use cloud storage today, has changed. Brands, influencers, colleges, small businesses, and everyday people are using cloud storage as a way to share their resources with the world.</h3>
	</p>
	<p>
	<p>
	<h3>Or, college students might use their online files to get feedback. That's because they can add special permissions to their shareable URL's by allowing friends (or anyone) to make comments, and offer meaningful suggestions.</h3>
	</p>
	<h3>We noticed that people are sharing cloud resources by using public shareable URL's in Facebook groups, on LinkedIn, Reddit, Quora, in blog posts, or newsletters. But if you wanted to find these files, or folders, there was now way, because they're scattered across the web.</h3>
	</p>
	<p>
	<h3>Meet Treasurably, it's the first centralized place to share or search cloud storage files. You can search across all cloud storage applications like Google Docs, Trello, Dropbox, or share your resources with the world. It allows you to discover incredible files floating on the web from marketers, designers, brands - and much more.</h3>
	</p>
	<p>
	<h3>We want to make the world more knowledgeable, for our generation, and generations to come ... &#x1f44f; </h3>
	</p>
	&nbsp;
		<p>
			<%= link_to "Request FREE Early Access", new_user_registration_path, class: "btn btn-default" %>
		</p>
</div>
<div>
</div>
