<div class="jumbotron left">
	<h1>The world's <u>first</u> cloud storage search engine.</h1>
	&nbsp;
	<p>
	<h3>Meet Treasurably, it's a place to share, or search, cloud storage files.</h3> 
	</p>

	<p>
	<h3>Treasurably does not scrape public files, instead allows people to share cloud resources, allowing you to instantly search across all cloud storage services, and platforms.</h3>
	</p> 

	<p>
	<h3>You can search across all cloud storage applications like Google Docs, Trello, Dropbox, share your resources with the world.</h3> 
	</p>

	<h3>Discover incredible files floating on the web from marketers, designers, brands - and much more ... &#x1f44f;</h3>
	</p>
	&nbsp;
		<p>
			<%= link_to "Find Out MORE Info", about_path, class: "btn btn-default" %>
		</p>
</div>
<div>
</div>
 