<div class="jumbotron left">
	<h1>Discover Cloud Storage Files</h1>
	&nbsp;
	
	<p>
	<h3>Treasurably is a place to share or discover cloud storage files.</h3> 
	</p>

	<h3>Oh yeah, did we mention it's free? &#128079;</h3>
	</p>
	&nbsp;
		<p>
			<%= link_to "Find Out MORE Info", about_path, class: "btn btn-default" %>
		</p>
</div>
<div>
</div>
 