<div class="jumbotron left">
	<h1>Share Cloud Storage Files</h1>
	&nbsp;
	<p>
	<h3>These days, it's quite common for people to post a Google Drive link in a Facebook group, share a Trello link on LinkedIn, or perhaps add a Google Sheet to a Quora post.</h3> 

	<h3>But there's one problem - if you wanted to search or find these files, there's absolutely no way. That's because they're scattered  across the web, making it virtually impossible to find them.<h/3> 

	<h3>Treasurably is a place to share cloud storage files or folders. It enables cool people like you to discover them. You can search across Dropbox, Drive, and Docs - all at the same time. This helps you uncover incredible files from marketers, designers, brands, and much more.</h3> 
	</p>

	<h3>It's like a cloud storage search engine, and here's the best thing, it's free. &#128079;</h3>
	</p>
	&nbsp;
		<p>
			<%= link_to "Find Out MORE Info", about_path, class: "btn btn-default" %>
		</p>
</div>
<div>
</div>
 