<div class="jumbotron left">
	<h1>Share Cloud Storage Files</h1>
	&nbsp;
	<p>
	<h3>These days, it's quite common for people to share a Google Drive link in a Facebook group, share a Trello link in a blog post, or a Google Sheet in Quora.</h3> 

	<h3>But there's one problem - if you wanted to search or find these files, there's absolutely no way. That's because they're scattered all across the web. This makes it virtually impossible to find them.<h/3> 

	<h3>Meet Treasurably. It's a place to share cloud storage files or folders. This enables cool people like you to discover them. You can search across Dropbox, Drive, Docs, and discover incredible files.</h3> 
	</p>

	<h3>Treasurably is like a cloud storage search engine, and here's the best thing, it's free. &#128079;</h3>
	</p>
	&nbsp;
		<p>
			<%= link_to "Find Out MORE Info", about_path, class: "btn btn-default" %>
		</p>
</div>
<div>
</div>
 