<div class="jumbotron left">
	<h1>Do More With Cloud Storage</h1>
	&nbsp;
	<p>
	<h3>Cloud storage has changed the way we use, work and access files on the web. We love it, and our goal is to make it even better!</h3> 

	<h3>Treasurably is the one stop location to manage your cloud files and folders. It allows you to share, search, like and interact across Dropbox, Drive, and Docs ... all at the same time.<h/3> 

	<h3>Uncover incredible files from makers, marketers, designers, educators, and much more. It's like a cloud storage search engine, and here's the best thing - it's free. &#128079;</h3> 
	</p>
	&nbsp;
		<p>
			<%= link_to "How it Works", how_it_works_path, class: "btn btn-lg btn-primary" %>
		</p>
</div>
<div>
</div>
 