<div class="jumbotron center">
	<h1>Search Drive, Trello, and Dropbox.</h1>
	&nbsp;
	<p>
	<h3>Meet Tresurably, it's like a search engine for other people's public cloud storage.
	</p>
	<p>Find <u>incredible files</u> floating on the web from marketers, designers, brands - and much more ... &#x1f44f;</h3>
	</p>
	&nbsp;
		<p>
			<%= link_to "Request FREE Early Access", new_user_registration_path, class: "btn btn-default" %>
		</p>
</div>
<div>
</div>
