<h1>The Story Behind Treasurably</h1>
&nbsp;
<p>
<h3>One day, <a href="https://www.facebook.com/suz.nguyen">Suzie Nguyen</a> (aka String) added <a href="https://www.facebook.com/lukejamesfitzpatrick">Luke Fitzpatrick</a> to a Facebook group called, <a href="https://www.facebook.com/groups/growthmarketers/">"Badass Marketers and Founders" (BAMF)</a>.
</p>

<p>
<h3>The exclusive group, was founded by <a href="https://www.facebook.com/joshua.fechter.5">Josh Fetcher</a> (ex-growth at <a href="https://autopilothq.com/">Autopilot</a>, Founder of <a href="http://www.bamf.media/">BAMF Media</a>).</h3>
</p>

<p>
<h3>Luke noticed how Josh was doing things differently, and operating under one specific principle - value.</h3>
</p>

<p>
<h3>If you take a look at most of the Facebook groups， you'll find that many of them typically feel spammy. People are constantly sharing blog posts that contain at best, generic advice.</h3>
</p>

<p>
<h3>Josh would share public URL's to his Google Drive, containing hundreds of useful resources that you wouldn't be able to find elsewhere. People loved it because it was valuable.</h3>
</p>

<p>
<h3>Then, Luke had that "aha" moment. There must be other people like Josh who are sharing their cloud resources - and, it would be amazing to be able to find them!</h3>
</p>

<p>
<h3>Luke soon discovered that there were plenty of other people sharing cloud storage URL's publicly on the web, in Facebook groups, on LinkedIn, Quora, Reddit, in blog posts, or newsletters.</h3>
</p>

<p>
<h3>But there was one problem ... it was all scatttered across the web. There was no way to find it - if such a way existed, it could make the world more knowledgeable, for our generation, and generations to come.</h3>
</p>

<p>
<h3>With an overdrawn bankcard, and no job, Luke purchased Treasurably.com. He couldn't afford to pay a developer to build Treasurably - so he taught himself how to code.</h3>
</p>

<p>
<h3>Luke showed a couple of friends his idea, and heard replies like, "That's epic!" Or, "I am surprised nobody else has done this before!"</h3>
</p>

<p>
<h3>Then, one of Luke's best friend's from University, <a href="https://www.facebook.com/liam.gibson.562">Liam Gibson</a> said, "Let me help you." One, becomes two. </h3>
</p>

<p>
<h3>And, Treasurably was born.</h3>
</p>
&nbsp;

<p>
<%= link_to "Request FREE Access", new_user_registration_path, class: "btn btn-default" %>
</p>
