<h1>More Information About Treasurably</h1>
&nbsp;
<p>
<h3>Treasurably <u>does not scrape public files,</u> instead allows people to share cloud resources - enabling anyone to instantly search across all cloud storage services, and platforms.</h3> 
</p>

<p>
<h3>You can like posts, follow brands or people you love, and get immediate access to incredible resources.</h3>
</p>

<p>
<h3>There are over 1 billion+ people who use Dropbox, Google Drive, Google Sheets, Google Docs, Microsoft OneNote, Box, and Trello.</h3>
</p> 

<p>
<h3>We imagine what would the world be like if brands like Apple shared their internal design resources publicly, colleges shared their lecture notes, industrial designers shared their 3D model designs, or even Rugby coaches shared their gameplays, and strategies. Would the world be better off? Abosolutely!
</p>

<p>
<h3>Our vision is to make the world more knowledgeable, for our generation, and generations to come.</h3>
</p>
&nbsp;

