	<h2>The Backstory to Treasurably</h2>
	&nbsp;

	<p>

	<h4>One day, Luke Fitzpatrick noticed how Josh Fechter was doing things differently. Josh would create these awesome marketing files in his Google Drive, Docs, Slide, or Sheets - and give these away for free. If you are a marketer and ever needed to market something, you could just "search" your Google Drive and find valuable stuff ... immediately - It's super handy!</h4> 

	<h4>Then, Luke thought to himself - "There must be other people like Josh who are using Google Drive to store valuable files, and give stuff away. And, wouldn't it be amazing to be able to search public cloud files."</h4> 

	<h4>But there was one problem. People are sharing cloud files all over the web - like, in Facebook groups, on LinkedIn, in blog posts, even on Reddit or Quora. If you wanted to find these files, you simply can't, because they're scattered everywhere.</h4> 

	<h4>Luke wanted a way to be able to search other people's cloud storage files, that's why he created Treasurably.</h4> 

	&nbsp;
	<h2>Our Mission and Vision for Treasurably</h2>
	&nbsp;

	<h4>Treasurably's mission is to make the world more knowledgeable.</h4> 

	<h4>Our vision is that brands like Apple will share their internal design resources with the world, college students will share their study notes with each other, or even influencers like Elon Musk open up their cloud storage to the world.  </h4>

	<h4>You could think of Treasurably a bit like a "Wiki" or "SlideShare." Both platforms are centered around "knowledge" and learning something.</h4>  

	<h4>Wikipedia is an encyclopedia for the world. SlideShare is a place to share your PPT's - Treasurably is the same, but for cloud storage. It's the only centralized place for sharing or searching cloud files across every cloud storage service.</h4>



	&nbsp;
	<h2>The Different ways Treasurably can be Used</h2>
	&nbsp;

	<h4>Way back in 2007, Drew Houston founded Dropbox - allowing you to sync files automatically from your computer to the cloud. People used it as a way to backup files on their computer - and, as a way to access files from any location. But ... how we use cloud storage today, has ultimately changed a lot since 2007.</h4> 

	<h4>Today, cloud storage isn't just used for backing up your files, or for accessing files from your computer anywhere. It's used a lot differently. That's because of these things called "Shareable Public URL's." With cloud storage, they allow you to do so much more. Here are three ways you can use them:</h4> 

	<h4>1) <u>Option 1:</u> In it's most simplest form, you can create a public shareable link on the web. This means, anybody around the world can view your content, files, and folders. And, when somebody "clicks" on your public cloud link, they'll automatically get access to your material without having to download anything.</h4> 
	<h4>2) <u>Option 2:</u> Additionally, You can set paramaters around your shareable cloud URL. So, let's say for example, you wanted to create USG (user-generated content) or perhaps crowdsource a file or document - you can allow people to "edit the information" in your file. If it's a Google Doc - then it'll get updated in real-time.</h4> 
	<h4>2) <u>Option 3:</u> Allow people to "leave comments" on your files. This is particulary useful if you're a college student working on a group presentation, or if your working in a company looking for other people's feedback etc.</h4> 
	</p>

&nbsp;
</div>
<div>
</div>