<h1>Frequently Asked Questions</h1>
&nbsp;

<h3>How does Treasurably work?</h3>
<p>With Treasurably, you can share you cloud storage URL's, search files that have been shared on our platform, like posts, see how many people have viewed your posts, follow people and much more ...</p>

<h3>Does Treasurably cost money to use?</h3>
<p>Treasurably is totally free to use and we hope you like it as much as we do.</p>

<h3>How are you able to search public cloud storage files?</h3>
<p>We don't scrape cloud storage public files, instead, we allow anyone to share their files on to our platform. This allows the world to find them.</p>

<h3>Who is Treasurably for?</h3>
<p>Treasurably is pretty for everyone. That means, marketers, designers, programmers, educators, doctors, sporting coaches, or even NASA scientists.</p>

<h3>Why should I share my cloud storage files?</h3>
<p>People share their cloud storage files for a number of reasons ... They may want to make the world more knowledgeable, or using Treasurably as a mechanism for branding.</p>

<h3>What happens if I see someone violate copyright infringement?</h3>
<p>Send us an email to lukejamesfitzpatrick@gmail.com. Right now, we haven't set up a system for "flagging" posts, but in the near future, we hope to include this feature.</p>

<h3>How can I get immediate early access to use Treasurably?</h3>
<p>At present, we're only letting a select few try out Treasurably. However, if you have useful cloud storage files you'd like to share with the world, shoot us an email at lukejamesfitzpatrick@gmail.com and we'll give you early access.</p>

<h3>Do you provide multiple usernames?</h3>
<p>Unfortunately, we don't. That means that only one person can have one username - so make sure you claim your's now before someone else snaps it up.</p>

<h3>How can I get in touch with you?</h3>
<p>Feel free to email us at lukejamesfitzpatrick@gmail.com.</p>

<h3>When will Treasurably be available for public consumption?</h3>
<p>Our web application has been built, it's live now. However, officially we haven't launched as we're in the final stages of bug testing and adding in design improvements. We expect to officially launch mid-November.</p>

<h3>I have some general product suggestions I'd love to give you.</h3>
<p>That's great! Come join our Meta community, allowing you to give feedback, new feature suggestions, chat with other Treasurably members, and be direclty involved in shaping Treasurably's future.</p>
&nbsp;