<h1>How does Treasurably Work?</h1>
&nbsp;
<h3>Treasurably is a place to search or share cloud storage files. We'll walk you through a few things you should know to get you started.</h3>
&nbsp;

<p>
<h2><u>Sharing Cloud Files and Folders</u></h2>
&nbsp;

<h3>Step 1: Click "Share Cloud Storage."</h3>
<h3>Step 2: Add your cloud storage link and image.</h3>
<h3>Step 3: Then, hit "Submit."</h3>

&nbsp;
<h2><u>How Do I Get Access to Somebody's Cloud Files?</u></h2>
&nbsp;

<h3>Step 1: Click on the post link.</h3>
<h3>Step 2: Click the green "get" button.</h3>
<h3>Step 3: Then, it'll be automatically added to your Google Drive, Docs etc. No download required. Pretty sweet, right?</h3>

&nbsp;
<h2><u>Searching Cloud Storage Files and Folders</u></h2>
&nbsp;

<h3>-> You can search <u>every</u> cloud storage application (Drive, Docs, Dropbox, Trello, Microsoft OneNote etc).</h3>
<h3>-> Tresurably <u>only</u> searches public cloud storage files that have been shared on to our platform.</h3>
<h3>-> Searching only <u>matches</u> the description of the file. It does not <u>search</u> inside your cloud files.</h3>
&nbsp;

<h2><u>Treasurably Features</u></h2>
&nbsp;

<h3>-> Search cloud storage files.</h3>
<h3>-> User profiles.</h3>
<h3>-> Follower and Followers.</h3>
<h3>-> Unique usernames (only 1).</h3>
<h3>-> Post comments (when signed in).</h3>
<h3>-> Treasurably is currently invite-only.</h3>
<h3>-> And, free.</h3>
&nbsp;
</p>
&nbsp;