html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #323038;
  }&:hover {
    color: none;
    background-color: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.navbar-collapse {
  float: right;
}

.btn-like,
.btn-get {
  margin-top: 10px;
}

.logo {
  width:14%;
  height: 14%;
  margin: 7px 0;
}

.user-profile {
  margin: 25px auto;
  width: 60%;
}

.profile-username {
  font-size: 24px;
}

.form-control {
  margin-bottom: 10px;
}

.gl-search {
  margin: 20px 34px;
}

.gl-edit {
  margin-right: 10px;
}
.profile-soc {
  margin: 20px 0;
}

.profile-follow {
  margin-right: 15px;
}
/* Comments */
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
}

.comment-card > .card {
  margin-top: 15px;
}

.card-block {
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  padding-left: 30px;
}

.comment-user {
  font-weight: bold;
}

/* Follow/Unfollow button */

.follow-button {
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}

.container {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
  margin-bottom: 30px;
}

.single-pin {
  margin-bottom: 30px;
}
